{% extends 'portfolio/base.html'%}

{% block content %}
{% load static %}
<div class="jumbotron text-center">
    <h2>Edward's Portfolio</h2>
    <a href="{% url 'blog:all_blogs' %}"> Blogs</a> 
    <br>
    <a href="{% static 'portfolio/resume.pdf' %}">Resume</a>
    <br>
    <img src="{% static 'portfolio/picture.jpg' %}" width=400 height=450>
    <br> <br>
    {% for project in projects %}  
    <div class="container">
        <div class="row">
          <div class="col-sm">
          <h2> {{ project.title }} </h2>
          <h2>{{ project.description }} </h2>
          <img src="{{ project.image.url }}" height=200 width=250 class="rounded-circle" >
        {% if project.url %}
          <br>
          <a href="{{project.url}}">Link</a>
          </div>
        </div>
      </div>
</div>
        {% endif %}
    {% endfor %}
{% endblock %}
